<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namu.article.persistence.ArticleMapper">

    <select id="getArticleList" parameterType="com.namu.article.domain.Paging" resultType="com.namu.article.domain.Article">
        select * from article order by a_seq desc limit #{start_article}, #{page_per_article}
    </select>

    <insert id="insertArticle" parameterType="com.namu.article.domain.Article">
        insert into article(a_title, a_detail, a_count, a_dtime, a_filename, a_filepath)
        values(#{a_title},#{a_detail}, #{a_count}, sysdate(), #{a_filename}, #{a_filepath})
    </insert>

    <select id="getArticle" resultType="com.namu.article.domain.Article">
        select * from article where a_seq = #{a_seq}
    </select>

    <update id="updateArticle" parameterType="com.namu.article.domain.Article">
        update article set a_title = #{a_title}, a_detail = #{a_detail} where a_seq = #{a_seq}
    </update>

    <delete id="deleteArticle" parameterType="int">
        delete from article where a_seq = #{a_seq}
    </delete>

    <select id="getTotalArticle" resultType="int">
        select count(*) from article;
    </select>

    <select id="getComments" parameterType="int" resultType="com.namu.article.domain.Comment">
        select * from t_comment where a_seq = #{a_seq} order by c_seq desc
    </select>

    <delete id="deleteComments" parameterType="int">
        delete from t_comment where c_seq = #{c_seq}
    </delete>

    <insert id="insertComments" parameterType="com.namu.article.domain.Comment">
        insert into t_comment(a_seq, c_detail, c_dtime) values (#{a_seq}, #{c_detail}, now())
    </insert>

    <update id="updateArticleCount" parameterType="int">
        update article set a_count = a_count + 1 where a_seq = ${a_seq}
    </update>

</mapper>