<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="footer-bottom-area" style="background-color:#f8f9fa;">
        <div class="container">
            <div style="padding:50px 0px">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right" >
                            <p style="color:#58CCFF;"><b>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved made with by bomnal<br>
                            회사주소 : 광주광역시 동구 제봉로 92 2층 인공지능사관학교</b></p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f" style="color:#58CCFF;"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-twitter" style="color:#58CCFF;"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram" style="color:#58CCFF;"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-github" style="color:#58CCFF;"></i></a>
                        </div>
                    </div>
                </div>
                <div style="display:none;"><p class="copyright" style="color : #F9FDFF;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by Colorlib</p></div>
            </div>
        </div>
    <!-- footer-bottom area -->
</th:block>
</html>